---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import NavButton from '../components/NavButton.astro';
---

<Layout>
	<main class="bg-[#131313] min-h-screen">
		<div class="flex flex-col items-center text-white relative min-h-screen">
            <!-- TODO: Do not have a scroll bar for the horizontal size when display is smaller than 623px -->
            <NavButton
                name="Home"
                link="/"
            />
            <div class="flex-grow flex flex-col items-center justify-center">
                <div class="font-sans text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-center z-30" id="text">
                    These are the projects I <br>made or had a part in
                </div>
            </div>
            <div class="flex justify-center blur-3xl">
				<div class="bg-[#0A5F72] h-96 w-96 rounded-full -z-0 absolute -top-[19rem] -translate-x-28"></div>
				<div class="bg-[#773278] h-96 w-96 rounded-full -z-10 absolute -top-[14rem] translate-x-28"></div>
			</div>
            <div class="flex flex-wrap justify-center gap-20 mt-16 mb-20 z-30">
                <ProjectCard
                    title="htaamas.xyz"
                    img="/htaamas.xyz.png"
                    link="https://github.com/htaamas/Portfolio"
                />
                <ProjectCard
                    title="Pytser"
                    img="/pytser.png"
                    link="https://github.com/htaamas/Browser-Project"
                />
                <ProjectCard/>
            </div>
            <div class="mb-14">
                <a href="https://github.com/htaamas" class="text-3xl font-semibold text-white border-b-2 border-solid">
                    More projects here
                </a>
            </div>
        </div>        
	</main>
</Layout>

<style>
    @media (max-width: 1300px){
        #text{
            margin-top: 20%;
        }
    }
</style>