---
interface Props {
  name?: string,
  link?: string
}
const { name = 'Example', link = "https://example.com"} = Astro.props
--- 
<div class="w-full flex justify-end p-4">
    <a href={link}>
        <button id="nav-links" class="font-semibold absolute top-11 right-16 text-xl text-center bg-[#2E2E2E] rounded-full px-[2.78rem] py-2 z-30 hover:bg-[#3E3E3E] transition ease-in-out">
            {name}
        </button>
    </a>
</div>

<style>
    @media (max-width: 768px){
        button {
            top : 2rem;
            right : 2rem;
        }
    }
</style>