---
interface Props {
  name?: string,
  link?: string
}
const { name = 'Example', link = "https://example.com"} = Astro.props
--- 
<div class="w-full flex justify-end p-4">
    <a href={link}>
        <button id="nav-links" class="font-semibold absolute top-11 right-16 text-xl text-center border-neutral-700 bg-[#2E2E2E] border-2 rounded-full px-[2.78rem] py-2 z-30">
            {name}
        </button>
    </a>
</div>