---
interface Props {
  title?: string,
  img?: string
  link?: string
}
const { title = 'Example', img = '/pfp.png', link = "https://example.com"} = Astro.props
--- 
<div class="bg-[#161616] rounded-lg shadow-md p-4 hover:bg-[#202020] transition ease-in-out">
    <a href={link}>
        <h3 class="text-lg font-medium mb-4">{title}</h3>
        <div class="flex justify-between items-center mt-4"><div/>
        <img src={img} alt="Project image" class="min-w-[480px] h-[276.29px] object-cover rounded-lg">
    </a>
</div>