<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A personal portfolio like site" />
		<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=0.8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>HTaamas | (Full stack developer)</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
	
	html {
		font-family: Poppins, sans-serif;
		background: #131313;
		background-size: 100%;
	}
	code {		/* Unused thing but good to have */
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
